
<td name="{{ grade_context }}_add_list" class="border_none"><button class="btn btn-sm" id="save_btn" type="submit">추가</button></td>
<td class="border_none" style="display:none;"><input type="text" name="grade" id="id_grade" value='{{ grade_context }}'></td>
<td class="all_view">{{ list.subject }}</td>
<td class="all_view">{{ list.professor }}</td>
<td class="all_view">{{ list.date }}</td>
<td class="all_view">{{ list.day }}</td>
<td class="all_view">{{ list.time }}</td>
<td class="all_view">{{ list.time_length }}</td>
<td class="all_view">{{ list.location }}</td>