{% extends "users/base.html" %}
{% block contents %}

{% if user.is_authenticated %}
<br>
<p>이 유저는 로그인 되어 있습니다.</p>
로그인 상태 : {{ user.user_id }}
<br><br>
<button onclick="location.href='/users/logout'">로그아웃</button>
<button onclick="location.href='/users/profile'">마이페이지</button>

{% else %}
<br>
<p>이 유저는 로그아웃 되어 있습니다..</p>
<br>
<button onclick="location.href='/users/login'">로그인</button>
<button onclick="location.href='/users/registerinfo'">회원가입</button>

{% endif %}
<button onclick="location.href='/notice/'">공지사항</button>
<button onclick="location.href='/free/'">자유게시판</button>
<button onclick="location.href='/anonymous/'">익명게시판</button>
<button onclick="location.href='/about/'">About</button>

{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
    alert("{{ message.message }}")
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}