{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INJE:REBORN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/reborn_favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet"> <!--필수-->
    <link rel="stylesheet" href="{% static 'font/index/icomoon/style.css' %}"> <!--필수-->
    <link rel="stylesheet" href="{% static 'css/index/bootstrap.min.css' %}"> <!--필수-->

    <!-- <link rel="stylesheet" href="{% static 'css/index/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/jquery-ui.css' %}"> -->

    <!-- <link rel="stylesheet" href="{% static 'css/index/owl.carousel.min.css' %}"> -->
   
    <!--<link rel="stylesheet" href="{% static 'css/index/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'font/index/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/jquery.fancybox.min.css' %}"> -->
    

    <link rel="stylesheet" href="{% static 'css/index/style.css' %}"> <!--필수-->
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" /> <!--필수-->
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-3">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="d-flex mr-auto">
                <a href="#" class="d-flex align-items-center mr-4">
                  <span class="icon-envelope mr-2"></span>
                  <span class="d-none d-md-inline-block">cshouse@inje.ac.kr</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-auto">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block">055-320-3269</span>
                </a>
              </div>
            </div>
            <div class="col-6 text-right">
              <!-- <div class="mr-auto"> -->
                <!-- <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a> -->
                <!-- <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a> -->
                <!-- <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a> -->
                <!-- <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2">
              <h1 class="my-0 site-logo"><a href="/">Inje:Reborn</a></h1>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.inje.ac.kr/kor/main/main.asp" target="_blank" style="font-weight: 600;">인제대학교</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cs.inje.ac.kr/" target="_blank" style="font-weight: 600;">인제대컴퓨터공학부</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://stud.inje.ac.kr/" target="_blank" style="font-weight: 600;">인제정보시스템</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ecampus.inje.ac.kr/main/MainView.dunet/" target="_blank" style="font-weight: 600;">인제대 E러닝</a>
                    </li>
                    <!-- <li><a href="#home-section" class="nav-link">Home</a></li>
                    <li><a href="#classes-section" class="nav-link">Classes</a></li>
                    <li class="has-children">
                      <a href="classes.html" class="nav-link">Pages</a>
                      <ul class="dropdown arrow-top">
                        <li><a href="team.html" class="nav-link">Team</a></li>
                        <li><a href="pricing.html" class="nav-link">Pricing</a></li>
                        <li><a href="faq.html" class="nav-link">FAQ</a></li>
                        <li class="has-children">
                          <a href="#">More Links</a>
                          <ul class="dropdown">
                            <li><a href="#">Menu One</a></li>
                            <li><a href="#">Menu Two</a></li>
                            <li><a href="#">Menu Three</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#about-section" class="nav-link">About</a></li>
                    <li><a href="#events-section" class="nav-link">Events</a></li>
                    <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                    <li><a href="#contact-section" class="nav-link">Contact</a></li> -->
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="site-blocks-cover overlay" style="background-image: url('{{ STATIC_URL }}img/logo1.jpg')" data-aos="fade" data-stellar-background-ratio="0.5"id="home-section">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-md-8">
           
            <h1 class="font-weight-bold">Inje:Reborn</h1>
            <p class="sub-text mb-4 d-block">인제대학교 컴퓨터공학부 홈페이지</p>
             <!-- <a data-fancybox data-ratio="2" href="https://vimeo.com/332538199" class="d-inline-flex align-items-center">
              <span class="play-button d-block mr-3">
                <span class="icon-play"></span>
              </span>
              <span class="text-white">Watch the video</span>
            </a> -->
            {% if user.is_authenticated %}
            <button onclick="location.href='/users/main/'">마이페이지</button>
            <button onclick="location.href='/users/logout/'">로그아웃</button>
            {% else %}
            <button onclick="location.href='/users/login/'">로그인</button>
            <button onclick="location.href='/users/agreement/'">회원가입</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>  

    <!--바로가기-->
    <!-- <section class="site-section" id="classes-section">
      <div class="clearfix mb-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-7 text-left heading-wrap">
              <h2 class="mt-0">Shortcuts</h2>
              <p>인제대학교에서 제공하는 서비스를 사이트마다 어디에 있는지 찾아다닐 필요가 없습니다. 찾고 계신 서비스를 우측의 이전/다음 버튼을 통해 넘겨보며 원하시는 링크를 클릭하세요.</p>
            </div>
            <div class="col-md-5 align-self-center text-md-right">
              <a href="#" class="btn btn-primary customPrevBtn">이전</a>
              <a href="#" class="btn btn-primary customNextBtn">다음</a>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-carousel centernonloop">
        <a href="https://www.inje.ac.kr/kor/covid19/main.asp?mnNum=1" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$29.99</p>
            <h2 class="class-heading">코로나19 운영지침</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
        <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=6&d1n=5&d2n=1&d3n=2&d4n=0" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$32.99</p>
            <h2 class="class-heading">학사공지</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
        <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=10&d1n=5&d2n=1&d3n=6&d4n=0" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$22.99</p>
            <h2 class="class-heading">장학공지</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
        <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=8&d1n=5&d2n=1&d3n=3&d4n=0" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$22.99</p>
            <h2 class="class-heading">취업/모집</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
        <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=3&Ltype3=3&Tname=S_Food&Ldir=board/S_Food&Lpage=s_food_view&d1n=5&d2n=4&d3n=4&d4n=0" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$34.99</p>
            <h2 class="class-heading">학식정보</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
        <a href="http://bus.inje.ac.kr/" target="_blank" class="item-class">
          <div class="text">
            <p class="class-price">$34.99</p>
            <h2 class="class-heading">통학버스</h2>
          </div>
          <img src="{% static 'img/logo1.jpg' %}" alt="" class="img-fluid">
        </a>
      </div>
    </section> -->

    <!--사이트 소개-->
    <section class="site-section" id="schedule-section">
        <div class="container" style="margin-left: 30px !important;">
          <div class="row mb-5">
            <div class="col-md-7 text-left heading-wrap mb-5">
              <h2 class="mt-0">RE:BORN</h2>
              <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> -->
              <p>RE:BORN은 '새롭게 다시 태어나다' 라는 뜻으로 인제대학교 컴퓨터공학부 36대 학생회의 이름입니다. 학생회 소속의 개발부에서 진행한 컴퓨터공학부와 인제대 학우들을 위한 프로젝트로 컴퓨터공학부 학생들을 위한 서비스가 중심이지만, 아래와 같이 각 커뮤니티 게시판은 누구든지 사용하실 수 있습니다.</p>
            </div>
            
          </div>
        </div>

        <div class="container-fluid">

          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/static/img/index/free.jpg')"></div>
                <div class="text order-1">
                  <h3 style="font-weight: bold;">자유게시판</h3>
                  <p>컴퓨터공학부의 자유게시판입니다. 여러 가지 질문을 올릴 수 있는 질문카테고리, 세미나 또는 정보 공유가 가능한 정보 카테고리로 나누어져 있습니다.</p>
                  <!-- <p class="sched-time">
                    <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                    <span><span class="fa fa-calendar"></span> April 22, 2019</span> <br>
                  </p> -->
                  <p><a href="/free/" class="btn btn-primary btn-sm">바로가기</a></p>
                  
                </div>
                
              </div>

              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/static/img/index/anonymous.jpg')"></div>
                <div class="text">
                  <h3 style="font-weight: bold;">익명게시판</h3>
                  <p>대학생 커뮤니티인 에브리타임을 모티브로 한 타임라인형 익명게시판입니다. 작성자가 표시되지 않는 익명게시판이지만 매너는 지켜주세요.</p>
                  <!-- <p class="sched-time">
                    <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                    <span><span class="fa fa-calendar"></span> April 22, 2019</span> <br>
                  </p> -->
                  <p><a href="/anonymous/" class="btn btn-primary btn-sm">바로가기</a></p>
                  
                </div>
                
              </div>

            </div>

            <div class="col-md-6">
              <div class="sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/static/img/index/chatbot.jpg')"></div>
                <div class="text order-1">
                  <h3 style="font-weight: bold;">컴퓨터공학부 챗봇</h3>
                  <p>컴퓨터공학부 신입생분들을 위한 카카오톡을 연동한 챗봇입니다. 궁금해하거나 질문이나 알고 싶은 내용 무엇이든 챗봇을 통해 물어보세요.</p>
                  <!-- <p class="sched-time">
                    <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                    <span><span class="fa fa-calendar"></span> April 22, 2019</span> <br>
                  </p> -->
                  <p><a href="https://pf.kakao.com/_xgJeuxb" target="_blank" class="btn btn-primary btn-sm">바로가기</a></p>
                  
                </div>
                
              </div>

              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/static/img/index/timetable.jpg')"></div>
                <div class="text">
                  <h3 style="font-weight: bold;">시험시간표</h3>
                  <p>컴퓨터공학부의 시험 시간표 서비스입니다. 시험기간이 되면 관리자가 업데이트를 하고, 컴퓨터공학부 학생들은 그저 수강하시는 과목만 체크하면 됩니다.</p>
                  <!-- <p class="sched-time">
                    <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                    <span><span class="fa fa-calendar"></span> April 22, 2019</span> <br>
                  </p> -->
                  <p><a href="/timetable/" class="btn btn-primary btn-sm">바로가기</a></p>
                  
                </div>
                
              </div>

            </div>
          </div>
        </div>
      
      </div>
    </section>

  
    <!--사이트 정보-->
    <!-- <section class="site-section" id="gallery-section">
      <div class="container">

        <div class="row">
          <div class="col-12 heading-wrap text-center mb-5">
            <h2 class="mb-5">Site information</h2>
          </div>
        </div> -->

        <!-- <div class="row justify-content-center mb-5" data-aos="fade">
          <div id="filters" class="filters text-center button-group col-md-7">
            <button class="btn btn-primary active" data-filter="*">All</button>
            <button class="btn btn-primary" data-filter=".web">Classes</button>
            <button class="btn btn-primary" data-filter=".design">Intern</button>
            <button class="btn btn-primary" data-filter=".brand">Training</button>
          </div>
        </div>  
      </div> -->
    <!-- </section>  -->

    <footer class="site-footer">
      <div class="container">
        <!-- <div class="row"> -->
          <!-- <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-12">
                <h3 class="footer-heading mb-4">About Us</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              </div>
            </div>
          </div> -->
          
          <!-- <div class="col-lg-4">
           
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quck Links</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Team</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Ashtanga Foundations</a></li>
                  <li><a href="#">Surya Vinyasa</a></li>
                  <li><a href="#">Chandra Vinyasa</a></li>
                  <li><a href="#">Yinyasa</a></li>
                </ul>
              </div>
            </div>
            
          </div> -->
          

          <!-- <div class="col-lg-4 mb-5 mb-lg-0"> -->

            <!-- <div class="mb-5">
              <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

              <form action="#" method="post" class="form-subscribe">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>

            </div> -->

            <!-- <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Follow Us</h3>

                <div>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div> -->


          <!-- </div> -->
          
        <!-- </div> -->
        <!-- <div class="row pt-5 mt-5 text-center"> -->
        <div class="row text-center">
          <div class="col-md-12">
            <span>사이트의 소스코드와 개발기록은&nbsp;</span>
            <a href="https://github.com/ParkHyeonChae/Re-Born-Web" target="_blank"><i class="fab fa-github"></i>&nbsp;Github</a>
            <span>&nbsp;&</span>
            <a href="https://parkhyeonchae.github.io/" target="_blank">&nbsp;<i class="fab fa-blogger"></i>&nbsp;HexoBlog</a>
            <span>&nbsp;에서 확인하실 수 있습니다.</span>
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'js/index/jquery-3.3.1.min.js' %}"></script> <!--필수-->
  <!-- <script src="{% static 'js/index/jquery-ui.js' %}"></script> -->
  <!-- <script src="{% static 'js/index/popper.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/index/bootstrap.min.js' %}"></script> -->
  <script src="{% static 'js/index/owl.carousel.min.js' %}"></script> <!--필수-->
  <!-- <script src="{% static 'js/index/jquery.countdown.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/index/jquery.magnific-popup.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/index/bootstrap-datepicker.min.js' %}"></script> -->
  <script src="{% static 'js/index/aos.js' %}"></script> <!--필수-->
  <script src="{% static 'js/index/jquery.sticky.js' %}"></script> <!--필수-->
  <!-- <script src="{% static 'js/index/jquery.easing.1.3.js' %}"></script> -->
  <!-- <script src="{% static 'js/index/isotope.pkgd.min.js' %}"></script> -->
  
  <!-- <script src="{% static 'js/index/jquery.fancybox.min.js' %}"></script> -->
  <script src="{% static 'js/index/main.js' %}"></script> <!--필수-->

  <script src="{% static 'js/users/browserCheck.js' %}"></script> <!--필수-->


  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <script>
    alert("{{ message.message }}")
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
  
  </body>
</html>

