{% extends "users/base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class="form group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
            </div><br>
            {% if field.errors %}
            <span style="color:red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <!-- {{ login_form }} -->
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
        <a href='#'>아이디</a>&nbsp;&middot;&nbsp;<a href='#'>비밀번호찾기</a> 
    </div>
</div>
{% endblock %}