{% extends "users/user_base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
{% endblock %}

{% block contents %}

<div class="container">
    <div class="row justify-content-md-center">
        <div style="position: absolute; top:15%;">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/logo2.jpg' %}" style="width:60%; margin:30px;">
                    </div>

                    <form method="POST" action=".">
                        {% csrf_token %}

                        <div class="mb-4 md-form">
                            <label for="validationServer015"><i class="fas fa-user"></i>&nbsp;&nbsp;{{ form.user_id.label }}</label>
                            <input type="text" class="form-control" id="validationServer015"
                                name="{{ form.user_id.name }}" />

                            {% if form.user_id.errors %}
                            <script type="text/javascript">
                                document.getElementsByName('user_id')[0].setAttribute('class',
                                    'form-control is-invalid')
                            </script>
                            {% for error in form.user_id.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="mb-4 md-form">
                            <label for="validationServer040"><i class="fas fa-lock"></i>&nbsp;&nbsp;{{ form.password.label }}</label>
                            <input type="password" class="form-control" id="validationServer040"
                                name="{{ form.password.name }}" />

                            {% if form.password.errors %}
                            <script type="text/javascript">
                                document.getElementsByName('password')[0].setAttribute('class',
                                    'form-control is-invalid')
                            </script>
                            {% for error in form.password.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <!-- {{ login_form }} -->
                        <label>
                            <input type="checkbox" name="remember_session"/>
                            <span style="padding-bottom: 35px;">로그인 상태 유지</span>
                        </label>
                        <br>
                        <!-- <input type="checkbox" name="remember_session" > 로그인 상태 유지<br><br> -->

                        <button type="submit" style="opacity: 90%; font-size: 16px; margin-top: -5px;" class="btn btn-red btn-lg btn-block">로그인</button>
                    </form>
                    <div style="text-align: center;">
                        <a style="color:gray; font-size: 14px;" href='/users/recovery'>아이디&nbsp;&middot;&nbsp;비밀번호찾기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}