{% load static %}
<html>

<head>
    <title>INJE:REBORN</title>
    <meta charset='utf-8'>
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1'> -->
    {% block mobileView %}
    <!-- <meta name="viewport" content="width=800, user-scalable=yes"> -->
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/reborn_favicon.ico' %}">
    
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    {% block header %}
    {% endblock %}
    <!-- JQuery Cookie-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    
    {% block summernote %}
    {% endblock %}
    
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/users/main.css' %}" type="text/css">
    <script src="{% static 'js/users/popper.js' %}"></script>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <!--사이드바-->
        <nav id="sidebar">
            <div id="side_hide">
                <!-- <div style="text-align: right;"> -->
                <div style="position:fixed; left: 273px; z-index:3;">
                    <!-- <button type="button" id="sidebarCollapseHide" class="btn btn-primary" onclick="hide()" style="margin-bottom: -50px;">
                        <i class="fa fa-chevron-left"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button> -->
                    <div id="sidebarCollapseHide" onclick="hide()"
                        style="margin-top: 15px; margin-right:15px; margin-bottom: -30px; cursor: pointer;">
                        <i class="fa fa-chevron-left fa-lg"></i>
                    </div>
                </div>
            </div>
            <div class="p-4 pt-5" style="position: fixed; width:300px;">
                {% if user.is_authenticated %}
                {% if user.level == '0' %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다. (개발자)
                <div style="text-align: right; margin-bottom: -25px;">
                    <a href="{% url 'users:logout' %}">로그아웃</a>
                </div>
                {% elif user.level == '1' %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다. (관리자)
                <div style="text-align: right; margin-bottom: -25px;">
                    <a href="{% url 'users:logout' %}">로그아웃</a>
                </div>
                {% else %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다.
                <a href="{% url 'users:logout' %}" style="margin-left:33px;">로그아웃</a>
                <br>
                {% endif %}
                {% else %}
                <p>이 유저는 로그아웃 되어 있습니다..</p>
                
                <a href="{% url 'users:login' %}">로그인</a>&nbsp;&middot;
                <a href="{% url 'users:agreement' %}">회원가입</a>
                <br>
                {% endif %}
                <br>
                <ul class="list-unstyled components mb-5 allMenuComponents" id="allMenuHide">
                    <!-- <li class="active"> -->
                    <li>
                        <a href="{% url 'users:main' %}"><i class="fas fa-home" style="margin-left:1px;"></i>&nbsp;&nbsp;메인으로</a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu1"><i
                                class="fas fa-user" style="margin:0 2.5px;"></i>&nbsp;&nbsp;마이페이지</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="{% url 'users:profile' %}"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;내 정보</a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_post' %}"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;작성한 글</a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_comment' %}"><i class="fas fa-comments"></i>&nbsp;&nbsp;댓글단 글</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="#">About</a>
                    </li> -->
                    <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu2"><i
                                class="fas fa-pen" style="margin-right:4px;"></i>&nbsp;&nbsp;커뮤니티</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li>
                                <a href="{% url 'notice:notice_list' %}"><i
                                        class="fas fa-clipboard-check"></i>&nbsp;&nbsp;공지사항</a>
                            </li>
                            <li>
                                <a href="{% url 'free:all_list' %}"><i
                                        class="fas fa-clipboard-list"></i>&nbsp;&nbsp;자유게시판</a>
                            </li>
                            <li>
                                <a href="{% url 'anonymous:anonymous_list' %}"><i
                                        class="fas fa-clipboard"></i>&nbsp;&nbsp;익명게시판</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu3"><i
                                class="fas fa-graduation-cap"></i>&nbsp;&nbsp;학사정보</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="{% url 'calendar:calendar' %}"><i class="fas fa-calendar-check"></i>&nbsp;&nbsp;학사일정</a>
                            </li>
                            <li>
                                <a href="{% url 'timetable:timetable_list' %}"><i class="fas fa-table"></i>&nbsp;&nbsp;시험시간표</a>
                            </li>
                            <!-- <li>
                                <a href="#">Page 3</a>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu4"><i
                                class="fas fa-users"></i>&nbsp;&nbsp;학생활동</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu3">
                            <li>
                                <a href="{% url 'about:organization' %}"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;학생회조직도</a>
                            </li>
                            <li>
                                <a href="{% url 'about:circles' %}"><i class="fas fa-diagnoses"></i>&nbsp;&nbsp;동아리소개</a>
                            </li>
                            <li>
                                <a href="{% url 'about:labs' %}">&nbsp;<i class="fas fa-flask"></i>&nbsp;&nbsp;연구실소개</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://pf.kakao.com/_xgJeuxb" target="_blank"><i class="fas fa-robot"></i>&nbsp;&nbsp;챗봇연결</a>
                    </li>
                </ul>

                <!--사이드바 FOOTER-->
                <div class="footer" style="position: fixed; bottom: 0; margin-left:-7px;">
                    <p class="copyrightFooter">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script>All rights<br>reserved | This template is made with<br><i class="icon-heart"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        &nbsp;&&nbsp;<a href="https://github.com/ParkHyeonChae" target="_blank">ParkHyeonChae</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </nav>

        <!-- 메뉴  -->
        <div id="content" class="p-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" style="margin:-48px; position:fixed; left:348px; right:40px; z-index:2;">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin:-48px;"> -->
                <!--사이드바 보기 버튼-->
                <div id="side_show" style="position:absolute; z-index: 1; cursor: pointer; margin-left: 11px;">
                    <div id="sidebarCollapseShow" onclick="show()" hidden>
                        <i class="fa fa-bars fa-lg"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </div>
                </div>

                <div class="container-fluid">
                    <!-- <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button> -->
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a href="/" style="margin-left: 30px; font-size: 22px; font-weight: bold; color:#d14040f2; cursor: pointer; left:20">INJE:REBORN</a>
                        <ul class="nav navbar-nav ml-auto">
                            <!-- <li class="nav-item active"> -->
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.inje.ac.kr/kor/main/main.asp" target="_blank" style="font-weight: 600;">인제대학교</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://cs.inje.ac.kr/" target="_blank" style="font-weight: 600;">인제대컴퓨터공학부</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://stud.inje.ac.kr/" target="_blank" style="font-weight: 600;">인제정보시스템</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://ecampus.inje.ac.kr/main/MainView.dunet/" target="_blank" style="font-weight: 600;">인제대 E러닝</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block contents %}
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/users/sidebar.js' %}"></script>
    <script src="{% static 'js/users/browserCheck.js' %}"></script>

    {% block script %}
    {% endblock %}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>
        alert("{{ message.message }}")
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>

</html>