{% extends "users/main_base.html" %}
{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/users/main.css' %}" type="text/css">
<script src="{% static 'js/users/popper.js' %}"></script>
{% endblock %}
{% block contents %}

<div class="wrapper d-flex align-items-stretch">
    <!--사이드바-->
    <nav id="sidebar">

        <div id="side_hide">
            <div style="text-align: right;">
                <!-- <button type="button" id="sidebarCollapseHide" class="btn btn-primary" onclick="hide()" style="margin-bottom: -50px;">
                    <i class="fa fa-chevron-left"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button> -->
                <div id="sidebarCollapseHide" onclick="hide()" style="margin-top: 15px; margin-right:15px; margin-bottom: -30px; cursor: pointer">
                    <i class="fa fa-chevron-left fa-lg"></i>
                </div>
            </div>
        </div>

        <div class="p-4 pt-5">
            {% if user.is_authenticated %}
                {% if user.level == '0' %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다. (개발자)
                <div style="text-align: right; margin-bottom: -25px;">
                    <a href="{% url 'users:logout' %}">로그아웃</a>
                </div>
                {% elif user.level == '1' %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다. (관리자)
                <div style="text-align: right; margin-bottom: -25px;">
                    <a href="{% url 'users:logout' %}">로그아웃</a>
                </div>
                {% else %}
                <span style="font-size: 22px;">{{ user.name }}</span> 님 환영합니다.
                <a href="{% url 'users:logout' %}" style="margin-left:33px;">로그아웃</a>
                <br>
                {% endif %}
            {% else %}
            <p>이 유저는 로그아웃 되어 있습니다..</p>
            <br>
            <a href="{% url 'users:login' %}">로그인</a>&nbsp;&middot;
            <a href="{% url 'users:agreement' %}">회원가입</a>
            {% endif %}
            <br>
            <ul class="list-unstyled components mb-5">
                <!-- <li class="active"> -->
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user" style="margin:0 2.5px;"></i>&nbsp;&nbsp;마이페이지</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{% url 'users:profile' %}"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;프로필수정</a>
                        </li>
                        <li>
                            <a href="{% url 'users:profile_post' %}"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;작성글보기</a>
                        </li>
                        
                    </ul>
                </li>
                <!-- <li>
                    <a href="#">About</a>
                </li> -->
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;학사정보</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <!--사이드바 FOOTER-->
            <div class="footer" style="position: fixed; bottom: 0; margin-left:-7px;">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script>All rights<br>reserved | This template is made with<br><i class="icon-heart"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        &nbsp;&&nbsp;<a href="https://github.com/ParkHyeonChae" target="_blank">ParkHyeonChae</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </nav>
    
    <div id="side_show">
        <button type="button" id="sidebarCollapseShow" onclick="show()" class="btn btn-primary" hidden>
            <i class="fa fa-chevron-right"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>

    <!-- 메뉴  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <!-- <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button> -->
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- <h2 class="mb-4">Sidebar #01</h2>
        <p>Lorem sffsfsfas한글한글 non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p> -->

        
        <!--내용-->
        {% if user.is_authenticated %}
        <br>
        <p>이 유저는 로그인 되어 있습니다.</p>
        로그인 상태 : {{ user.user_id }}
        <br><br>
        <button onclick="location.href='/users/logout'">로그아웃</button>
        <button onclick="location.href='/users/profile'">마이페이지</button>
        {% else %}
        <br>
        <p>이 유저는 로그아웃 되어 있습니다..</p>
        <br>
        <button onclick="location.href='/users/login'">로그인</button>
        <button onclick="location.href='/users/registerinfo'">회원가입</button>

        {% endif %}
        <button onclick="location.href='/notice/'">공지사항</button>
        <button onclick="location.href='/free/'">자유게시판</button>
        <button onclick="location.href='/anonymous/'">익명게시판</button>
        <button onclick="location.href='/about/'">About</button>

    </div>
</div>

<script type="text/javascript">
    if (screen.width <= 991.98) {
        // document.getElementById("sidebar").setAttribute('class','active')
        document.getElementById('sidebarCollapseShow').removeAttribute('hidden')
        document.getElementById('sidebarCollapseHide').setAttribute('hidden', '')
    }

    (function ($) {
        "use strict";
        var fullHeight = function () {
            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
                $('.js-fullheight').css('height', $(window).height());
            });
        };
        fullHeight();
        // $('#sidebarCollapseHide').on('click', function () {
        //     $('#sidebar').toggleClass('active');
        // });
        
    })(jQuery);

    function hide () {
        $('#sidebar').toggleClass('active');
        document.getElementById('sidebarCollapseShow').removeAttribute('hidden')
        document.getElementById('sidebarCollapseHide').setAttribute('hidden', '')
    };
    function show () {
        $('#sidebar').toggleClass('active');
        document.getElementById('sidebarCollapseShow').setAttribute('hidden', '')
        document.getElementById('sidebarCollapseHide').removeAttribute('hidden')
    };
</script>

{% endblock %}