{% extends "users/user_base.html" %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=510, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row justify-content-md-center">
        <div style="position: absolute; top: 45%; height: 504.18px; margin-top: -252.09px;">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/logo2.jpg' %}"
                            style="width: 40%; margin-top:10px; margin-bottom: -30px;">
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <form action="" method="POST" novalidate>
                                {% csrf_token %}
                                <!--비밀번호-->
                                <div class="mb-4 md-form">
                                    <label name="label_new_password1" for="{{ form.new_password1.id_for_label }}"><i
                                            class="fas fa-unlock"></i>&nbsp;&nbsp;{{ form.new_password1.label }}</label>
                                    {{ form.new_password1 }}
                                    <script type="text/javascript">
                                        if (document.getElementsByName('new_password1')[0].value != '') {
                                            document.getElementsByName('label_new_password1')[0].setAttribute('class',
                                                'active');
                                        }
                                    </script>
                                    {% if form.new_password1.errors %}
                                    <script type="text/javascript">
                                        document.getElementsByName('new_password1')[0].setAttribute('class',
                                            'form-control is-invalid')
                                    </script>
                                    {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <!--비밀번호확인-->
                                <div class="mb-4 md-form">
                                    <label name="label_new_password2" for="{{ form.new_password2.id_for_label }}"><i
                                            class="fas fa-unlock-alt"></i>&nbsp;&nbsp;{{ form.new_password2.label }}</label>
                                    {{ form.new_password2 }}
                                    <script type="text/javascript">
                                        if (document.getElementsByName('new_password2')[0].value != '') {
                                            document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                                'active');
                                        }
                                    </script>
                                    {% if form.new_password2.errors %}
                                    <script type="text/javascript">
                                        document.getElementsByName('new_password2')[0].setAttribute('class',
                                            'form-control is-invalid')
                                    </script>
                                    {% for error in form.new_password2.errors %}
                                    <div style="white-space: nowrap;" class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <small style="margin-left: 4px; margin-top:8px;" class="form-text text-muted">
                                        최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                                    </small>
                                </div>
                                <!--저장하기 버튼-->
                                <div style="padding-top:10px;" class="row justify-content-md-center">
                                    <button class="btn btn-red" style="opacity: 90%; font-size: 16px;"><i class="fas fa-check"></i>&nbsp;&nbsp;저장하기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}