{% extends "users/base.html" %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>비밀번호 변경</h1>
    </div>
</div>
<br>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.new_password1 }}
    {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
    <div class="col-xs-12 text-center" style="padding-top: 10px;">
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    </br>
    {{ form.new_password2 }}
    {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
    <div class="col-xs-12 text-center" style="padding-top: 10px;">
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    </br>
    <div class="wrapper">
        <button class="btn btn-primary">저장하기</button>
    </div>
</form>

{% endblock %}