{% extends "users/base.html" %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>비밀번호변경</h1>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            아이디 : {{ user.user_id }}<br><br>
            <!-- {{ password_change_form.as_p }} -->

            <!-- {% for field in password_change_form %}
            <div class="form group">
                <label for="{{ field.id_for_label }}">{{ field.label|cut:":" }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    name="{{ field.name }}" placeholder="{{ field.label|cut:':' }}" />
            </div><br>
            {{ field.errors }}
            {% endfor %}

            <style>
                .errorlist {
                    color: red;
                    font-weight: bold;
                }
            </style> -->

            <input class="btn btn-primary" type="submit" value="저장하기" />
        </form>
    </div>
</div>
{% endblock %}