{% extends "users/base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>마이페이지</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {% if user.level == '3' or user.level == '4' %}
        아이디 : {{ user.user_id }} (관리자)<br>
        {% else %}
        아이디 : {{ user.user_id }}<br>
        {% endif %}
        이메일 : {{ user.email }}<br>
        폰번호 : {{ user.hp }}<br>
        이름 : {{ user.name }}<br>
        학번 : {{ user.student_id }}<br>
        학년 : {{ user.grade }}<br><br>
    </div>
    <div class="col-12">
        <a href="{% url 'users:profile_update' %}">내정보수정</a>&nbsp;&middot;&nbsp;
        <a href="{% url 'users:password_edit' %}">비밀번호변경</a>&nbsp;&middot;&nbsp;
        <a href="{% url 'users:profile_delete' %}">회원탈퇴</a> <br>
        <a href='#'>내가 쓴 글</a>
    </div>
</div>
{% endblock %}