{% extends "users/main_base.html" %}
{% load humanize %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/timetable/timetable.css' %}" type="text/css">
{% endblock %}

{% block contents %}
<br><br>
<div class="container">
    <h5><strong><i class="fas fa-comments"></i>&nbsp;작성한 댓글보기</strong></h5>

    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: -0.5px;">
        <li class="nav-item">
            <a class="nav-link active" id="free-comment-tab" data-toggle="tab" href="#free_comment" role="tab" aria-controls="free_comment" aria-selected="true">자유게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="anonymous-comment-tab" data-toggle="tab" href="#anonymous_comment" role="tab" aria-controls="anonymous_comment" aria-selected="true">익명게시판</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="free_comment" role="tabpanel" aria-labelledby="free-comment-tab">
            <table class="table table-sm table-hover">
                <thead style="border-top: 1px solid #dee2e6;">
                    <tr class="text-center">
                        <th class="all_view_title">게시글번호</th>
                        <th class="text-left all_view_title">게시글</th>
                        <th class="text-left all_view_title">댓글내용</th>
                        <th class="all_view_title">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    {% if comment_list %}
                        {% for comment in comment_list %}
                        <tr class="text-center" style="font-weight: bold; cursor:pointer;" onclick="location.href='/free/{{ comment.post.id }}/'">
                            <td class="all_view">{{ comment.post.id }}</td>
                            <td class="text-left all_view">{{ comment.post|truncatechars:8 }}</td>
                            <td class="text-left all_view" style="width:50%">
                            {{ comment.content|truncatechars:30 }}
                            </td>
                            {% if comment.created_string == False %}
                            <td class="all_view">{{ comment.created|date:'m월 d일' }}</td>
                            {% else %}
                            <td class="all_view">{{ comment.created_string }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr class="text-center" style="font-weight: bold; color:gray;">
                        <td class="all_view" colspan="4">
                            <i class="fas fa-info-circle"></i>&nbsp;작성한 댓글이 없습니다.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="anonymous_comment" role="tabpanel" aria-labelledby="anonymous-comment-tab">
            <table class="table table-sm table-hover">
                <thead style="border-top: 1px solid #dee2e6;">
                    <tr class="text-center">
                        <th class="all_view_title">게시글번호</th>
                        <th class="text-left all_view_title">게시글</th>
                        <th class="text-left all_view_title">댓글내용</th>
                        <th class="all_view_title">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    {% if anonymous_comment_list %}
                        {% for comment in anonymous_comment_list %}
                            <tr class="text-center" style="font-weight: bold; cursor:pointer;" onclick="location.href='/anonymous/{{ comment.post.id }}/'">
                                <td class="all_view">{{ comment.post.id }}</td>
                                <td class="text-left all_view">{{ comment.post|truncatechars:8 }}</td>
                                <td class="text-left all_view" style="width:50%">
                                {{ comment.content|truncatechars:30 }}
                                </td>
                                {% if comment.created_string == False %}
                                <td class="all_view">{{ comment.created|date:'m월 d일' }}</td>
                                {% else %}
                                <td class="all_view">{{ comment.created_string }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr class="text-center" style="font-weight: bold; color:gray;">
                        <td class="all_view" colspan="4">
                            <i class="fas fa-info-circle"></i>&nbsp;작성한 댓글이 없습니다.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}