{% extends "users/user_base.html" %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=510, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row justify-content-md-center">
        <div style="position: absolute; top: 45%; height: 504.18px; margin-top: -252.09px;">
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/logo2.jpg' %}"
                            style="width: 40%; margin-top:10px; margin-bottom: -30px;">
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            {% csrf_token %}
                            <!--이름-->
                            <div class="mb-4 md-form">
                                <label name="label_name" for="{{ form_id.name.id_for_label }}"><i
                                    class="fas fa-user"></i>&nbsp;&nbsp;{{ form_id.name.label }}</label>
                                    {{ form_id.name }}
                            </div>
                            <!--이메일-->
                            <div class="mb-4 md-form">
                                <label name="label_email" for="{{ form_id.email.id_for_label }}"><i
                                        class="fas fa-envelope"></i>&nbsp;&nbsp;{{ form_id.email.label }}</label>
                                    {{ form_id.email }}
                                <small class="form-text text-muted">
                                    등록하신 이름과 메일주소가 일치해야 합니다.
                                </small>
                            </div>

                            <!-- <br><button type="submit" class="btn btn-dark" name="recovery_id">아이디찾기</button> -->
                            <div style="padding-top:10px;" class="row justify-content-md-center">
                                <button id="find_id" class="btn btn-red" style="opacity: 90%; font-size: 16px;" name="recovery_id"><i class="fas fa-search"></i>&nbsp;&nbsp;아이디찾기</button><br><br>
                            </div>
                            <br>
                            <div id="result_id"></div>
                            
                            <span style="color:gray; font-size: 14px;" >&middot;&nbsp;비밀번호를 잊으셨나요?</span>
                            <a style="text-decoration:underline; color:black; font-size: 14px;" href="{% url 'users:recovery_pw' %}">비밀번호찾기</a>

                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#find_id').click(function () {
                                        var name = $("#form_name").val();
                                        var email = $("#form_email").val();

                                        $.ajax({
                                            type: "POST",
                                            url: "/users/recovery/id/find/",
                                            dataType: "json",
                                            data: {
                                                'name': name,
                                                'email': email,
                                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                            },
                                            success: function (response) {
                                                $('#result_id').replaceWith(
                                                    '<div id="result_id"><hr><div style="text-align:center;"><span style="font-size: 16px;">입력된 정보로 가입된 아이디는 </span><span style="font-size: 20px; font-weight: bold;" id="result_id">' + response.result_id +
                                                    '</span><span style="font-size: 16px;"> 입니다.</span></div><hr></div>')
                                            },
                                            error: function () {
                                                if (name == "" || email == "") {
                                                    alert('이름와 이메일을 입력해주세요.');
                                                } else {
                                                    alert('입력하신 정보가 일치하지 않거나 존재하지 않습니다.');
                                                }
                                            },
                                        });
                                    })
                                });
                            </script>
                            <!-- No AJAX

                            {% if result_id %}
                            <h5>회원님의 아이디는 <strong>{{ result_id }}</strong>입니다.</h5>
                            {% endif %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}