{% extends "users/base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>일반회원가입</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            
            {% csrf_token %}
            {% for field in register_form %}
            <div class="fieldWrapper">
                {{ field.label_tag|cut:":"  }}
                {{ field }}
                <br>
                {{ field.errors }}
            </div>
            {% endfor %}

            <style>
                .errorlist {
                    color: red;
                    font-weight: bold;
                }
            </style>

            <input class="btn btn-primary" type="submit" value="회원가입">
        </form>
    </div>
</div>

<script language="javascript">
    document.getElementsByTagName('option')[8].remove();
</script>

{% endblock %}