{% extends "users/base.html" %}
{% load humanize %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>게시글작성 TEST PAGE</h1>
    </div>
</div>
<br>

<div class="row-mt-5">
    <div class="col-12">
        <!--본문-->
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card" style="width: 100%;">
                <!--제목,분류,작성일-->
                <div class="card-header">
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}"
                            class="col-sm-10 control-label">{{ form.title.label }}</label>
                        <div class=" col-sm-10">
                            {{ form.title }}
                        </div>
                        {% if form.title.errors %}
                        {% for error in form.title.errors %}
                        <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <hr>
                    <!--내용-->
                    <div class="form-group">
                        <div class=" col-sm-12">
                            {{ form.content }}
                        </div>
                        {% if form.content.errors %}
                        {% for error in form.content.errors %}
                        <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </div>
            <br>
            <div class="text-right">
                <button type="submit" class="btn btn-md btn-dark">작성하기</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}