{% extends "users/main_base.html" %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/about/about.css' %}" type="text/css"> 
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-10">
            <h4 style="font-weight: bold;">컴퓨터공학부 학생회 조직도</h4>
        </div>
        {% if request.user.level == '0' or request.user.level == '1' %}
        <a class="organizationEditBtn" href="{% url 'about:organization_update' %}">* 편집하기</a>
        {% endif %}
    </div>
</div>
<hr style="width:69rem;">
<br><br>
<div class="row justify-content-md-center">
    <div class="card organizationCard">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">회장단</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.rank == '1' %}
                    <span class="oragnizationRank">회장</span>
                    <span class="oragnizationName">{{ list.name }}</span><br>
                {% elif list.rank == '2' %}
                    <span class="oragnizationRank">부회장</span>
                    <span class="oragnizationName">{{ list.name }}</span><br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<br><br><br>
<div class="row justify-content-md-center">
    <div class="card organizationChild">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">개발부</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.part == '개발부' %}
                    {% if list.rank == '3' %}
                        <span class="oragnizationRank">부장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '4' %}
                        <span class="oragnizationRank">차장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '5' %}
                        <span class="oragnizationRank">부원</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card organizationChild">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">학술부</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.part == '학술부' %}
                    {% if list.rank == '3' %}
                        <span class="oragnizationRank">부장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '4' %}
                        <span class="oragnizationRank">차장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '부원' %}
                        <span class="oragnizationRank">부원</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card organizationChild">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">운영부</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.part == '운영부' %}
                    {% if list.rank == '3' %}
                        <span class="oragnizationRank">부장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '4' %}
                        <span class="oragnizationRank">차장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '5' %}
                        <span class="oragnizationRank">부원</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card organizationChild">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">홍보부</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.part == '홍보부' %}
                    {% if list.rank == '3' %}
                        <span class="oragnizationRank">부장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '4' %}
                        <span class="oragnizationRank">차장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '5' %}
                        <span class="oragnizationRank">부원</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card organizationChild" style="margin-right: 0px !important;">
        <div class="row justify-content-md-center">
            <div class="card organizationCardTitle">
                <h5 class="organizationTitle">재정부</h5>
            </div>
        </div>
        <div class="card-body organizationBody">
            {% for list in organization_list %}
                {% if list.part == '재정부' %}
                    {% if list.rank == '3' %}
                        <span class="oragnizationRank">부장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '4' %}
                        <span class="oragnizationRank">차장</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% elif list.rank == '5' %}
                        <span class="oragnizationRank">부원</span>
                        <span class="oragnizationName">{{ list.name }}</span><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}