{% extends "users/main_base.html" %}
{% load humanize %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h4 style="font-weight: bold;">자유게시판</h4>
            {% if q %}
            <h5 style="color: gray; font-weight: 550;"><i class="fas fa-search"></i>&nbsp;'{{ q }}' 검색 결과입니다.</h5>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="dropdown" style="float:right; padding-top:3px; padding-right:8px;">
                <a class="dropdown-toggle mr-2" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 16px; color:black;">
                    분류별로 보기</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'free:all_list' %}">전체보기</a>
                    <a class="dropdown-item" href="{% url 'free:free_list' %}">자유만 보기</a>
                    <a class="dropdown-item" href="{% url 'free:question_list' %}">질문만 보기</a>
                    <a class="dropdown-item" href="{% url 'free:information_list' %}">정보만 보기</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-sm table-hover">
            <thead style="border-top: 1px solid #dee2e6;">
                <tr class="text-center">
                    <th style="font-weight: bold; font-size: 16px;">번호</th>
                    <th style="font-weight: bold; font-size: 16px;">제목</th>
                    <th style="font-weight: bold; font-size: 16px;">작성자</th>
                    <th style="font-weight: bold; font-size: 16px;">등록일</th>
                    <th style="font-weight: bold; font-size: 16px;">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% if free_list %}
                {% for free in free_list %}
                <tr class="text-center" style="cursor:pointer;" onclick="location.href='/free/{{ free.id }}/'">
                    <td style="font-weight: 500;">{{ free.id }}</td>
                    <td class="text-left" style="width:50%; font-weight: 600;">
                        {% if free.category == '자유' %}
                        <span class="badge badge-light">{{ free.category }}</span>&nbsp;
                        {% elif free.category == '질문' %}
                        <span class="badge badge-danger">{{ free.category }}</span>&nbsp;
                        {% elif free.category == '정보' %}
                        <span class="badge badge-info">{{ free.category }}</span>&nbsp;
                        {% endif %}
                        <!-- <a id="free-{{ free.id }}" href="{% url 'free:free_detail' free.id %}">{{ free.title|truncatechars:30 }}</a> -->
                        <a id="free-{{ free.id }}">{{ free.title|truncatechars:30 }}</a>
                        {% if free.comments %}
                        &nbsp;<span style="color:gray;">[{{ free.comments }}]</span>
                        {% endif %}
                    </td>
                    <td style="font-weight: 500;">{{ free.writer }}</td>
                    {% if free.created_string == False %}
                    <td style="font-weight: 500;">{{ free.registered_date|date:'m월 d일' }}</td>
                    {% else %}
                    <td style="font-weight: 500;">{{ free.created_string }}</td>
                    {% endif %}
                    <td style="font-weight: 500;">{{ free.hits }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    {% if q %}
                    <tr class="text-center">
                        <td style="font-weight: bold; color:gray;" colspan="5">
                            <i class="fas fa-info-circle"></i>&nbsp;일치하는 검색 결과가 없습니다.
                        </td>
                    </tr>
                    {% else %}
                        <tr class="text-center">
                            <td style="font-weight: bold; color:gray;" colspan="5">
                                <i class="fas fa-info-circle"></i>&nbsp;작성된 게시글이 없습니다.
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <div style="margin-top: 30px;">
        <form action="" method="GET">
            <div class="col">
                <div style="float: right;" class="form-row">
                    <div class="form-row">
                        <div class="col" style="margin-top: 10px;">
                            <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                                <option value="all">전체</option>
                                <option value="title_content">제목+내용</option>
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="writer">작성자</option>
                            </select>
                        </div>
                        <div class="col" style="margin-top: 10px;">
                            <input type="text" name="q" value="{{ q }}" class="form-control form-control-md"
                                style="width: 15em;" placeholder="검색어를 입력해주세요.">
                        </div>
                        <div class="col">
                            <button class="btn btn-sm" type="submit" id="search_btn">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <div>
                <a href="{% url 'free:free_write' %}" id="write_btn" class="btn btn-sm">글쓰기</a>
            </div>
        </div>
        <br>
        <div class="col-md-offset-6">
            {% if is_paginated %}
            <!-- <ul class="pagination justify-content-center pagination-sm"> -->
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}"
                        tabindex="-1" style="font-size: 15px;">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" style="font-size: 15px;">이전</a>
                </li>
                {% endif %}

                {% for page in page_range %}
                <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
                    <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}" style="font-size: 15px;">{{ page }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}" style="font-size: 15px;">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" style="font-size: 15px;">다음</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    target = window.location.search.split('&')[0].split('=')[1]
    var type = document.getElementsByTagName('option')
    for (var i = 0; i < 5; i++) {
        if (type[i].value === target) {
            type[i].setAttribute('selected', 'selected')
        }
    }
</script>
{% endblock %}