{% extends "users/base_write.html" %}
{% load humanize %}
{% block contents %}
{% load static %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>게시글작성 TEST PAGE</h1>
    </div>
</div>
<br>

<div class="row-mt-5">
        <!--본문-->
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card" style="width: 100%;">
                <!--제목,분류,작성일-->
                <div class="card-header">
                    <div class="form-group">
                        <!-- <label for="{{ form.title.id_for_label }}"
                            class="col-sm-2 control-label">{{ form.title.label }}</label> -->
                            <br>
                            <div class=" col-sm-12">
                            {{ form.category }}
                            {{ form.title }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--내용-->
                    <div class="form-group">
                        <div class=" col-sm-12">
                            {{ form.content }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card-footer">
                <div class="form-group">
                    <div class=" col-sm-12">
                        {{ form.files }}
                    </div>
                </div>
            </div><br>
            <div class="text-right">
                <button type="submit" id="write" class="btn btn-md btn-dark">작성하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}