<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>404 error</title>
    <link rel="stylesheet" href="{% static 'css/404error.css' %}" type="text/css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="{% static 'img/reborn_favicon.ico' %}">
</head>
<body>
    <div>
        <img style="width:45%; margin-bottom: -10%; " src = "{% static 'img/logo1.jpg' %}">
        <h2 style="font-size: 28px !important;"><p>페이지를 찾을 수 없습니다</p></h2>
        <button onclick="location.href='/'">메인으로</button>
        <button onclick="goBack();">이전으로</button>
    </div>

    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>
    
</body>
</html>