{% extends "users/base.html" %}
{% load humanize %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/anonymous-detail.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
{% endblock %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>익명게시글 TEST PAGE</h1>
    </div>
</div>
<br>
<div class="row-mt-5">
    <div class="col-12">
        <!--본문-->
        <div class="card" style="width: 100%;">
            <!--제목,분류,작성일-->
            <div class="card-header">
                <strong>{{ anonymous.title }}</strong>
                <span style="float:right;">{{ anonymous.registered_date|date:'Y.m.d. H:i' }}</span>
            </div>
            <div class="card-body">
                {% if anonymous.files %}
                <img style="max-width: 850px;" src="/anonymous{{ anonymous.files.url }}" alt="">
                {% endif %}
                <!--내용-->
                <div>
                    {{ anonymous.content|linebreaksbr }}
                </div>
                <!--추천-->
                <hr>
                <div style="margin-bottom:-10px; margin-top: -6px; display:grid; grid-template-columns: 0.48fr 0.52fr">
                    <div style="padding-top: 13px;">
                        <span id="id_like_count" style="color:gray;">{{ anonymous.like_count }}명이 추천하였습니다.</span>
                    </div>
                    <div>
                        <div class="button button-like">
                            <i class="fa fa-thumbs-up"></i>
                            <span>추천</span>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!--추천수 표시부분-->
        {% if like_user_info %}
        <script type="text/javascript">
            var alone_like_count = "{{ anonymous.like_count }}"
            var like_count = "{{ anonymous.like_count }}" - 1

            if (alone_like_count == '1') {
                $('#id_like_count').replaceWith('<span id="id_like_count" style="color:gray;">회원님이 추천하였습니다.</span>')
            } else {
                $('#id_like_count').replaceWith('<span id="id_like_count" style="color:gray;">회원님 외 '+like_count+'명이 추천하였습니다.</span>')
            }
            $(".button-like").toggleClass("liked");
        </script>
        {% endif %}

        <!--댓글-->
        <div class="card" style="width: 100%;">
            <div class="card-header">
                <div class="col-md-12">
                    </form>
                    {% csrf_token %}
                    <div class="form-group row">
                        <textarea class="form-control" id="content" rows="3" placeholder="댓글을 입력해주세요."></textarea>
                    </div>
                    <div class="text-right" style="float:right">
                        <button id="comment_write" class="btn btn-dark">댓글달기</button>
                    </div>
                </div>
                <br>
                {% if comments %}
                <div id="hide_more_button"><strong><a id=hide_button_count style="color:blue;">&nbsp;댓글 접기
                            &middot;&nbsp;{{ comment_count }}개의 댓글<br></a></strong></div>
                <div id="show_more_button" style="display:none;"><strong><a id=show_button_count
                            style="color:blue;">&nbsp;댓글 펼치기 &middot;&nbsp;{{ comment_count }}개의 댓글<br></a></strong>
                </div>
                {% else %}
                <div id="hide_more_button"><strong><a id=hide_button_count style="color:blue;"><br></a></strong></div>
                <div id="show_more_button" style="display:none;"><strong><a id=show_button_count
                            style="color:blue;"><br></a></strong></div>
                {% endif %}
                <hr>
                <div id="more_comment">
                    {% if comments %}
                    {% for comment in comments %}
                    <div id='{{ comment.id }}'>
                        {% if comment.deleted and comment.reply == 0 %}
                        <span style="color:gray;">삭제된 댓글입니다.</span>
                        <hr>
                        {% else %}
                        {% if comment.reply == 0 %}
                        {% if comment.writer == anonymous.writer %}
                        <strong>익명&nbsp;<span style="color:gray" ;>(글쓴이)</span></strong>
                        {% else %}
                        <strong>익명</strong>
                        {% endif %}
                        {% if comment.created_string == False %}
                        <span style="float:right; color:gray;">{{ comment.created|date:'m월 d일' }}</span>
                        {% else %}
                        <span style="float:right; color:gray;">{{ comment.created_string }}</span>
                        {% endif %}
                        {% if comment.writer == request.user or request.user.level == '0' or request.user.level == '1' %}
                        <div>
                            <div style="white-space:pre-wrap; text-align:left;">{{ comment.content }}</div>
                            <div style="text-align: right;">
                                <a style="color: rgb(29, 112, 236)"
                                    onclick="createReplyArea('{{comment.id}}');">답글달기</a>&nbsp;&middot;&nbsp;
                                <a style="color: rgb(29, 112, 236)" onclick="commentDelete('{{comment.id}}');">댓글삭제</a>
                            </div>
                        </div>
                        <hr>
                        {% else %}
                        <div>
                            <div style="white-space:pre-wrap; text-align:left;">{{ comment.content }}</div>
                            <div style="text-align: right;">
                                <a style="color: rgb(29, 112, 236)"
                                    onclick="createReplyArea('{{comment.id}}');">답글달기</a>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class='{{ comment.id }}'></div>
                    {% endfor %}

                    <!--답글 표시 부분-->
                    {% for comment in replys %}
                    {% if comment.deleted and comment.reply != 0 %}
                    <script type="text/javascript">
                        var comment_id = "{{ comment.reply }}";
                        $('.' + comment_id).append(
                            '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><span style="color:gray;">삭제된 답글입니다.</span></div></div><hr>'
                        );
                    </script>
                    {% else %}
                    {% if comment.writer == anonymous.writer %}
                    {% if comment.writer == request.user or request.user.level == '0' or request.user.level == '1' %}
                    <script type="text/javascript">
                        var reply_id = "{{ comment.id }}";
                        var comment_id = "{{ comment.reply }}";
                        var reply_writer = "익명";
                        var reply_created = "{{ comment.created_string }}";
                        if (reply_created == 'False') {
                            reply_created = "{{ comment.created|date:'m월 d일' }}"
                        };
                        var reply_content = "{{ comment.content }}";

                        $('.' + comment_id).append(
                            '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id=' +
                            reply_id + '><strong>' + reply_writer + '&nbsp;<span style="color:gray";>' + '(글쓴이)' +
                            '</span></strong>' +
                            '<span style="float:right; color:gray;">' + reply_created + '</span>' +
                            '<div><div style="white-space:pre-wrap; text-align:left;">' + reply_content +
                            '</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="replyDelete(' +
                            reply_id + ');">답글삭제</a></div></div></div></div></div><hr>'
                        );
                    </script>
                    {% else %}
                    <script type="text/javascript">
                        var reply_id = "{{ comment.id }}";
                        var comment_id = "{{ comment.reply }}";
                        var reply_writer = "익명";
                        var reply_created = "{{ comment.created_string }}";
                        if (reply_created == 'False') {
                            reply_created = "{{ comment.created|date:'m월 d일' }}"
                        };
                        var reply_content = "{{ comment.content }}";

                        $('.' + comment_id).append(
                            '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id=' +
                            reply_id + '><strong>' + reply_writer + '&nbsp;<span style="color:gray";>' + '(글쓴이)' +
                            '</span></strong>' +
                            '<span style="float:right; color:gray;">' + reply_created + '</span>' +
                            '<div><div style="white-space:pre-wrap; text-align:left;">' + reply_content +
                            '</div><div style="text-align:right;"></div></div></div></div></div><hr>'
                        );
                    </script>
                    {% endif %}
                    {% else %}
                    {% if comment.writer == request.user or request.user.level == '0' or request.user.level == '1' %}
                    <script type="text/javascript">
                        var reply_id = "{{ comment.id }}";
                        var comment_id = "{{ comment.reply }}";
                        var reply_writer = "익명";
                        var reply_created = "{{ comment.created_string }}";
                        if (reply_created == 'False') {
                            reply_created = "{{ comment.created|date:'m월 d일' }}"
                        };
                        var reply_content = "{{ comment.content }}";

                        $('.' + comment_id).append(
                            '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id=' +
                            reply_id + '><strong>' + reply_writer + '</strong>' +
                            '<span style="float:right; color:gray;">' + reply_created + '</span>' +
                            '<div><div style="white-space:pre-wrap; text-align:left;">' + reply_content +
                            '</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="replyDelete(' +
                            reply_id + ');">답글삭제</a></div></div></div></div></div><hr>'
                        );
                    </script>
                    {% else %}
                    <script type="text/javascript">
                        var reply_id = "{{ comment.id }}";
                        var comment_id = "{{ comment.reply }}";
                        var reply_writer = "익명";
                        var reply_created = "{{ comment.created_string }}";
                        if (reply_created == 'False') {
                            reply_created = "{{ comment.created|date:'m월 d일' }}"
                        };
                        var reply_content = "{{ comment.content }}";

                        $('.' + comment_id).append(
                            '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id=' +
                            reply_id + '><strong>' + reply_writer + '</strong>' +
                            '<span style="float:right; color:gray;">' + reply_created + '</span>' +
                            '<div><div style="white-space:pre-wrap; text-align:left;">' + reply_content +
                            '</div><div style="text-align:right;"></div></div></div></div></div><hr>'
                        );
                    </script>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                    <input type="hidden" id="comment_writer" value={{request.user}}>
                    <div id="comment_list"></div>
                </div>
            </div>
        </div>

        <br>
        <div class="text-right">
            {% if anonymous_auth or request.user.level == '0' %}
            <button class="btn btn-md btn-dark"
                onclick="location.href='/anonymous/{{ anonymous.id }}/edit/'">수정</button>
            <button class="btn btn-md btn-dark" data-toggle="modal" data-target="#delete_modal">삭제</button>
            <button class="btn btn-md btn-dark" onclick="location.href='/anonymous/'">목록으로</button>
            {% elif request.user.level == '1' %}
            <button class="btn btn-md btn-dark" data-toggle="modal" data-target="#delete_modal">삭제</button>
            <button class="btn btn-md btn-dark" onclick="location.href='/anonymous/'">목록으로</button>
            {% else %}
            <button class="btn btn-md btn-dark" onclick="location.href='/anonymous/'">목록으로</button>
            {% endif %}
        </div>
    </div>
</div>

<div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">삭제경고</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>게시글을 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button onclick="deleteModal()" type="button" class="btn btn-danger">삭제하기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteModal() {
        location.replace('/anonymous/{{ anonymous.id }}/delete/');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#comment_write').click(function () {
            var content= $("#content").val();
            var writer= $("#comment_writer").val();
            $.ajax({
                type: "POST",
                url: "{% url 'anonymous:comment_write' anonymous.id %}",
                dataType: "json",
                data: {
                    'writer': writer,
                    'content': content,
                    'reply': '0',
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    if (response.self_comment) {
                        $('#comment_list').append(
                           '<div><div id='+response.comment_id+'><strong>익명&nbsp;<span style="color:gray";>'+response.self_comment+'</span></strong>'+
                           '<span style="float:right; color:blue;">'+response.created+'</span>'+
                           '<div><div style="white-space:pre-wrap; text-align:left;">'+response.content+'</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="createReplyArea('+response.comment_id+');">답글달기</a>&nbsp;&middot;&nbsp;<a style="color: rgb(29, 112, 236)" onclick="commentDelete('+response.comment_id+');">댓글삭제</a></div></div><hr></div><div class='+response.comment_id+'></div>'
                        );
                    }
                    else{
                        $('#comment_list').append(
                            '<div><div id='+response.comment_id+'><strong>익명</strong>'+
                            '<span style="float:right; color:blue;">'+response.created+'</span>'+
                            '<div><div style="white-space:pre-wrap; text-align:left;">'+response.content+'</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="createReplyArea('+response.comment_id+');">답글달기</a>&nbsp;&middot;&nbsp;<a style="color: rgb(29, 112, 236)" onclick="commentDelete('+response.comment_id+');">댓글삭제</a></div></div><hr></div><div class='+response.comment_id+'></div>'
                        );
                    }
                    $('#content').val("");
                    $('#hide_button_count').replaceWith('<a id=hide_button_count style="color:blue;">&nbsp;댓글 접기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>')
                    $('#show_button_count').replaceWith('<a id=show_button_count style="color:blue;">&nbsp;댓글 펼치기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>')
                },
                error: function () {
                    if ($('#content').val()=="") {
                        alert('댓글을 입력해주세요.');
                    }
                },
            })
        });
    });
    
    $('#hide_more_button').click(function(){
        $('#more_comment').hide();
        $('#show_more_button').show();
        $('#hide_more_button').hide();
    });
    $('#show_more_button').click(function(){
        $('#more_comment').show();
        $('#show_more_button').hide();
        $('#hide_more_button').show();
    });

    function commentDelete(value) {
        var comment_id = value;
        var delete_warning = confirm('댓글을 삭제하시겠습니까?');
        if (delete_warning == true) {
            $.ajax({
                type: "POST",
                url: "{% url 'anonymous:comment_delete' anonymous.id %}",
                dataType: "json",
                data: {
                    'comment_id': comment_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    $('#'+response.comment_id).replaceWith('<span style="color:gray;">삭제된 댓글입니다.</span><hr>');
                    $('#hide_button_count').replaceWith('<a id=hide_button_count style="color:blue;">&nbsp;댓글 접기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>');
                    $('#show_button_count').replaceWith('<a id=show_button_count style="color:blue;">&nbsp;댓글 펼치기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>');
                },
                error: function () {
                    alert('본인 댓글이 아닙니다.');
                },
            });
        }
    }

    function replyDelete(value) {
        var comment_id = value;
        var delete_warning = confirm('답글을 삭제하시겠습니까?');
        if (delete_warning == true) {
            $.ajax({
                type: "POST",
                url: "{% url 'anonymous:comment_delete' anonymous.id %}",
                dataType: "json",
                data: {
                    'comment_id': comment_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    $('#'+response.comment_id).replaceWith('<span style="color:gray;">삭제된 답글입니다.</span>');
                    $('#hide_button_count').replaceWith('<a id=hide_button_count style="color:blue;">&nbsp;댓글 접기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>');
                    $('#show_button_count').replaceWith('<a id=show_button_count style="color:blue;">&nbsp;댓글 펼치기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>');
                },
                error: function () {
                    alert('본인 댓글이 아닙니다.');
                },
            });
        }
    }

    function createReplyArea(value) {
        var comment_id = value;
        $('.'+comment_id).append(
            '<div id="layer"><textarea class="form-control" id="reply_content" rows="2" placeholder="답글을 입력해주세요." style="float: left; width:90%;" autofocus></textarea><button onclick="replyWrite('+comment_id+');" class="btn btn-outline-dark" style="margin-left:10px; height:62px;">답글작성</button><hr></div>'
        );
    }

    function deleteReplyArea($targetObj) {
        var isIn = true;
        var $objArr = Array();
        var opts = {
            left: 99999, right: 0, top: 99999, bottom: 0
        }
        if( $targetObj ) {
            if( $targetObj.length == 1 ) {
                $objArr.push( $targetObj );
            } else {
                $objArr = $targetObj;
            }
            $.each($objArr, function(i, $obj) {          
                var obj_position = $obj.offset();
                obj_position.right = parseInt( obj_position.left ) + ( $obj.width() );
                obj_position.bottom = parseInt( obj_position.top ) + parseInt( $obj.height() );
                
                if( obj_position.left < opts.left ) opts.left = obj_position.left;
                if( obj_position.right > opts.right ) opts.right = obj_position.right;
                if( obj_position.top < opts.top ) opts.top = obj_position.top;
                if( obj_position.bottom > opts.bottom ) opts.bottom = obj_position.bottom;
            }); 
            if(( opts.left <= event.pageX && event.pageX <= opts.right )&& ( opts.top <= event.pageY && event.pageY <= opts.bottom )) {
                isIn = false;
            }
        }
        return isIn;
    }

    $(function(){
        $(document).mousedown(function(e){
            if( deleteReplyArea ($("#layer"))) {
                $("#layer").remove();
            }
        });
    });


    function replyWrite(value) {
        var comment_id = value;
        var content= $("#reply_content").val();
        var writer= $("#comment_writer").val();
        $.ajax({
            type: "POST",
            url: "{% url 'anonymous:comment_write' anonymous.id %}",
            dataType: "json",
            data: {
                'writer': writer,
                'content': content,
                'reply': comment_id,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            success: function (response) {
                if (response.self_comment) {
                    $('.'+comment_id).append(
                        '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id='+response.comment_id+'><strong>익명&nbsp;<span style="color:gray";>'+response.self_comment+'</span></strong>'+
                        '<span style="float:right; color:blue;">'+response.created+'</span>'+
                        '<div><div style="white-space:pre-wrap; text-align:left;">'+response.content+'</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="replyDelete('+response.comment_id+');">답글삭제</a></div></div></div></div></div><hr>'
                    );
                }
                else{
                    $('.'+comment_id).append(
                        '<div style="display:grid; grid-template-columns: 0.03fr 0.97fr"><div style="color:gray;"><h4>↳<h5></div><div><div id='+response.comment_id+'><strong>익명</strong>'+
                        '<span style="float:right; color:blue;">'+response.created+'</span>'+
                        '<div><div style="white-space:pre-wrap; text-align:left;">'+response.content+'</div><div style="text-align:right;"><a style="color: rgb(29, 112, 236)" onclick="replyDelete('+response.comment_id+');">답글삭제</a></div></div></div></div></div><hr>'
                    );
                }
                $("#layer").remove();
                $('#hide_button_count').replaceWith('<a id=hide_button_count style="color:blue;">&nbsp;댓글 접기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>')
                $('#show_button_count').replaceWith('<a id=show_button_count style="color:blue;">&nbsp;댓글 펼치기 &middot;&nbsp;'+response.comment_count+'개의 댓글</a>')
            },
            error: function () {
                if ($('#reply_content').val()=="") {
                    alert('답글을 입력해주세요.');
                }
            },
        })
    };
       
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.button-like').click(function () {
            $(".button-like").toggleClass("liked");

            var post='{{ anonymous.id }}'
            $.ajax({
                type: "POST",
                url: "{% url 'anonymous:post_like' %}",
                dataType: "json",
                data: {
                    'post': post,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    var alone_like_count = response.like_count
                    var like_count = response.like_count - 1

                    if (response.user_info) {
                        if (alone_like_count == '1') {
                            $('#id_like_count').replaceWith('<span id="id_like_count" style="color:gray;">회원님이 추천하였습니다.</span>')
                        } else {
                            $('#id_like_count').replaceWith('<span id="id_like_count" style="color:gray;">회원님 외 '+like_count+'명이 추천하였습니다.</span>')
                        }
                    }
                    else {
                        $('#id_like_count').replaceWith('<span id="id_like_count" style="color:gray;">'+response.like_count+'명이 추천하였습니다.</span>')
                    }
                },
                error: function (error) {
                    console.log(error)
                },
            })
        });
    });
</script>

{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
    alert("{{ message.message }}")
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}