{% extends "users/main_base.html" %}
{% load humanize %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col-5" style="text-align: center;">
            <h4 style="font-weight: bold;">익명게시판</h4>
        </div>
    </div>

    <div class="row-mt-5">
        <!--본문-->
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="card" style="width: 70%;">
                    <!--제목,분류,작성일-->
                    <div class="card-header" style="padding: 0rem 0.8rem">
                        <div class="md-form form-group" style="margin-top: 8.5px;">
                            <!-- <label for="{{ form.title.id_for_label }}"
                                class="col-sm-2 control-label">{{ form.title.label }}</label> -->
                                <div style="padding: 0 4px;">
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                    <!--내용-->
                    <div class="md-form">
                        <div class="col-sm-12">
                            {{ form.content }}
                        </div>
                    </div>
                </div>

                <div class="card-footer" style="width:70%; padding-left: 0px; margin-top:18px;">
                    <div class="form-group">
                        <div class=" col-sm-12">  
                            {{ form.image_files }}
                            {% if form.image_files.errors %}
                            {% for error in form.image_files.errors %}
                            <small id="help" class="form-text text-muted" style="color: red !important;">
                                <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ error }}
                            </small>
                            {% endfor %}
                            {% endif %}
                            <small id="help" class="form-text text-muted" style="margin-bottom: -15px;">
                                [이미지 업로드]&nbsp;&nbsp;<i class="fas fa-upload"></i>&nbsp;익명게시판에서는 10MB 이하의 사진만 첨부 가능합니다.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right" style="width:86.5%; margin-top: 10px;">
                {% if edit %}
                <button type="submit" id="write" class="btn btn-sm">{{ edit }}</button>
                {% else %}
                <button type="submit" id="write" class="btn btn-sm">작성하기</button>
                {% endif %}
                <input type="checkbox" id="fileChangeCheck" name="fileChange" style="display: none;">
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>

{% if filename %}
<script type = "text/javascript">
    $('[href="{{ file_url }}"]').html("{{ filename }}");
    $('#image_files-clear_id').css({opacity:'100', position:'relative', 'pointer-events':'auto'})

    $("#id_image_files").change(function() {
        if ($('#id_image_files').get(0).files.length == 1) {
            $(".col-sm-12").contents().get(3).nodeValue = '[사진 변경 시 기존 사진은 삭제됩니다.]'
            $('#image_files-clear_id').attr("checked", false)
            $('#image_files-clear_id').prev().hide()
            $('#image_files-clear_id').next().hide()
            $('#image_files-clear_id').hide()
        }
    });

    $('#image_files-clear_id').on('click', function(){
        if($(this).prop('checked')){
            $('#id_image_files').hide()
            document.getElementById('id_image_files').previousSibling.nodeValue = '[업로드 된 사진을 삭제합니다.]'
        } else{
            $('#id_image_files').show()
            document.getElementById('id_image_files').previousSibling.nodeValue = '변경: '
        }
    });

    $('#write').click( function() {
        if($('#id_image_files').get(0).files.length == 1){
            $('#fileChangeCheck').attr("checked",true)
        }
    });
</script>
{% endif %}
{% endblock %}