{% extends "users/base.html" %}
{% load humanize %}

{% block header %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="{% static 'js/anonymous/infinite-scroll.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/loading.css' %}" type="text/css">
{% endblock %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>익명게시판 TEST PAGE</h1>
    </div>
</div>
<br><br>
<div class="container">
    <!--검색창, 글쓰기-->
    <div class="row justify-content-center">
        <div style="float:left;">
            <form action="" method="GET">
                <div class="col">
                    <div class="form-row">
                        <div class="form-row">
                            <div class="col">
                                <select style="width: 6em;" class="custom-select custom-select-md" name="type">
                                    <option value="all">전체</option>
                                    <option value="title_content">제목+내용</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                </select>
                            </div>
                            <div class="col">
                                <input style="width:38em;" type="text" name="q" value="{{ q }}"
                                    class="form-control form-control-md" placeholder="검색어를 입력해주세요." required>
                            </div>
                            <div class="col">
                                <button class="btn btn-md btn-outline-dark" type="submit">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button class="btn btn-md btn-dark" onclick="location.href='/anonymous/write'">글쓰기</button>
        </div>
    </div>
    <hr width=82%;><br>
    <!--본문-->
    <div class="row justify-content-center">
        <div class="infinite-container" >
            {% for anonymous in anonymous_list %}
                <div class="infinite-item">
                    <div class="card" style="width: 55em; margin-bottom:15px;">
                        <div class="card-body" onClick="location.href ='/'" style="cursor:pointer;">
                            <h5><strong>
                                    <p>{{ anonymous.title|truncatechars:30 }}</p>
                                </strong></h5>
                            <p style="color: gray;">{{ anonymous.content|truncatechars:40 }}</p>
                            <div class="row">
                                <div class="col">
                                    {% if anonymous.created_string == False %}
                                    <span style="color:gray;">{{ anonymous.registered_date|date:'m월 d일' }} &middot; 익명</span>
                                    {% else %}
                                    <span style="color:gray;">{{ anonymous.created_string }} &middot; 익명</span>
                                    {% endif %}
                                </div>
                                <div class="col" style="color:gray; text-align: right;">
                                    <span>추천 {{ anonymous.like_count }} &middot; 댓글 {{ anonymous.comments }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
    </div>
</div>

<div style="text-align: center;">
    <div class="loading" style="display: none;"></div>
</div>

<script type="text/javascript">
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>

<script type="text/javascript">
    target = window.location.search.split('&')[0].split('=')[1]
    var type = document.getElementsByTagName('option')
    for (var i = 0; i < 4; i++) {
        if (type[i].value === target) {
            type[i].setAttribute('selected', 'selected')
        }
    }
</script>


{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
    alert("{{ message.message }}")
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}