{% extends "users/main_base.html" %}
{% load static %}

{% block mobileView %}
<meta name="viewport" content="width=800, user-scalable=yes">
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index/owl.carousel.min.css' %}">
{% endblock %}

{% block contents %}
<div style="margin: 55px -10px -40px 4px;">
    <div class="container" id="carouselContainer" style="margin-bottom: -5px;">
        <div>
            <a href="#" class="customPrevBtn carouselHover" style="float:left;"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
        </div>
        <!-- <div class="container" style="width: 91%; float:left;"> -->
        <div class="container" id="carouselMinBtn" style="width: 91%; float:left; padding: 0 !important">
        <!-- <div class="container" style="width: 83%; float:left;"> -->
            <div class="owl-carousel centernonloop">
                <a href="https://www.inje.ac.kr/kor/covid19/main.asp?mnNum=1" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-notes-medical"></i>&nbsp;코로나 운영지침</h5>
                    </div>
                </a>
                <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=6&d1n=5&d2n=1&d3n=2&d4n=0" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-user-check"></i>&nbsp;<span id="injeLink1">인제대 학사공지</span></h5>
                    </div>
                </a>
                <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=10&d1n=5&d2n=1&d3n=6&d4n=0" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-user-graduate"></i>&nbsp;<span id="injeLink2">인제대 장학공지</span></h5>
                    </div>
                </a>
                <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=0&Ltype3=0&Tname=S_News&Ldir=board/S_News&Lpage=Tboard_L&div=8&d1n=5&d2n=1&d3n=3&d4n=0" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-user-tie"></i>&nbsp;<span id="injeLink3">인제대 취업/모집</span></h5>
                    </div>
                </a>
                <a href="https://dorm.inje.ac.kr/" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-bed"></i>&nbsp;생활관 홈페이지</h5>
                    </div>
                </a>
                <a href="http://library.inje.ac.kr/" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-book-open"></i>&nbsp;백인제기념도서관</h5>
                    </div>
                </a>
                <a href="http://bus.inje.ac.kr/" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-bus"></i>&nbsp;통학버스 예약하기</h5>
                    </div>
                </a>
                <a href="https://www.inje.ac.kr/kor/Template/Bsub_page.asp?Ltype=5&Ltype2=3&Ltype3=3&Tname=S_Food&Ldir=board/S_Food&Lpage=s_food_view&d1n=5&d2n=4&d3n=4&d4n=0" target="_blank" class="item-class">
                    <div class="text" style="text-align: center;">
                        <h5 class="class-heading carouselFont"><i class="fas fa-utensils"></i>&nbsp;오늘의 식단보기</h5>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <a href="#" class="customNextBtn carouselHover"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <!-- <div class="shadow p-3 mb-5 bg-white rounded" style="height: 90%; width:98%;"> -->
            <div class="shadow p-3 mb-5 bg-white rounded" style="width:98%;">
                <span style="font-size: 20px; font-weight: bold; float:left;"><i
                        class="fas fa-bullhorn"></i>&nbsp;&nbsp;최근 공지사항</span>
                <div style="text-align: right; margin-bottom: 50px; padding-top: -5px;">
                    <a href="{% url 'notice:notice_list' %}" style="background-color: #d14040f2; color:white; font-size: 13px; margin-top: -5px; margin-right: -5px;" class="btn btn btn-sm">전체보기</a>
                </div>

                <div style="margin-bottom: -47.56px;">
                {% for notice in notice_list %}
                <div class="notice_box">
                    <div class="shadow-none mb-5 bg-light rounded" onclick="location.href='/notice/{{ notice.id }}'"
                        style="padding: 12px; margin-top: -36px; margin-bottom: -36px; cursor:pointer; height:52px;">
                        <!-- <span style="color: gray; font-size:16px;"><i class="fas fa-bullhorn"></i>&nbsp;&nbsp;{{ notice.title|truncatechars:30 }}</span> -->
                        <span style="color: gray; font-size:16px; font-weight:550;">&nbsp;&nbsp;{{ notice.title|truncatechars:24 }}</span>
                        <!-- <div style="float:right">
                            <span style="color: gray; font-size:16px">{{ notice.registered_date|date:'Y. m. d' }}</span>
                        </div> -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- <div class="shadow p-3 mb-5 bg-white rounded" style="height: 88.9%; width:98%"> -->
            <div class="shadow p-3 mb-5 bg-white rounded" style="width:98%">
                <span style="font-size: 20px; font-weight: bold; float:left;"><i
                        class="fas fa-calendar-check"></i>&nbsp;&nbsp;<span id="mainpageCalenderId">컴퓨터공학부 학사일정</span></span>
                <div style="text-align: right; margin-bottom: 10px;">
                    <a href="{% url 'calendar:calendar' %}" style="background-color: #d14040f2; color:white; font-size: 13px; margin-top: -5px; margin-right: -5px;" class="btn btn btn-sm">전체보기</a>
                </div>     

                <!-- <div style="margin-bottom: -47.56px"> -->
                <div style="margin-bottom: -9px">
                {% for calendar in calendar_list %}
                <div class="notice_box">
                    <div class="shadow-none mb-5 bg-light rounded" onclick="location.href='/calender/'"
                        style="padding: 12px; margin-top: 0px; margin-bottom: 12px !important; cursor:pointer; height:52px;">
                        {% if calendar.d_day == 'D-DAY' %}
                        <span style="font-weight: bold; color: #d14040f2">{{ calendar.d_day }}</span>
                        {% else %}
                        <span style="font-weight: bold; color:rgb(88, 88, 88)">{{ calendar.d_day }}</span>
                        {% endif %}
                        <span style="color: gray; font-size:16px; font-weight: 550;">&nbsp;&nbsp;{{ calendar.event_name|truncatechars:11 }}</span>
                        <div style="float:right">
                            <span style="color: gray; font-size:16px">{{ calendar.start_date }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- <div class="col-sm-6" style="height: 45vh;"> -->
        <div class="col-sm-6">
            <!-- <div class="shadow p-3 mb-5 bg-white rounded" style="height: 90%; width:98%"> -->
            <div class="shadow p-3 mb-5 bg-white rounded" style="width:98%">
                <span style="font-size: 20px; font-weight: bold; float:left;"><i
                        class="fas fa-info-circle"></i>&nbsp;&nbsp;자유게시판 정보글</span>
                <div style="text-align: right; margin-bottom: 10px;">
                    <a href="{% url 'free:information_list' %}" style="background-color: #d14040f2; color:white; font-size: 13px; margin-top: -5px; margin-right: -5px;" class="btn btn btn-sm">전체보기</a>
                </div>

                <div style="margin-bottom: -13px;">
                {% for free in free_list %}
                <div class="notice_box">
                    <div class="shadow-none mb-5 bg-light rounded" onclick="location.href='/free/{{ free.id }}/'"
                        style="padding: 12px; margin-top: 0px; margin-bottom: 12px !important; cursor:pointer; height:52px;">
                        <!-- <span style="color: gray; font-size:16px;"><i class="fas fa-splotch"></i>&nbsp;&nbsp;{{ free.title|truncatechars:30 }}</span> -->
                        <span style="color: gray; font-size:16px; font-weight:550;">&nbsp;&nbsp;{{ free.title|truncatechars:24 }}</span>
                        <!-- <div style="float:right">
                            <span style="color: gray; font-size:16px">{{ free.registered_date|date:'Y. m. d' }}</span>
                        </div> -->
                    </div>
                </div>
                {% endfor %}
                </div>

            </div>
        </div>
        <!-- <div class="col-sm-6" style="height: 45vh;"> -->
        <div class="col-sm-6">
            <!-- <div class="shadow p-3 mb-5 bg-white rounded" style="height: 90%; width:98%"> -->
            <div class="shadow p-3 mb-5 bg-white rounded" style="width:98%">
                <!-- <span style="font-size: 20px; font-weight: bold; float:left;"><i class="fas fa-pepper-hot"></i>&nbsp;&nbsp;익명게시판 HOT</span> -->
                <span style="font-size: 20px; font-weight: bold; float:left;"><i class="fas fa-fire-alt"></i>&nbsp;&nbsp;익명게시판 HOT</span>
                <div style="text-align: right; margin-bottom: 10px;">
                    <a href="{% url 'anonymous:anonymous_list' %}" style="background-color: #d14040f2; color:white; font-size: 13px; margin-top: -5px; margin-right: -5px;" class="btn btn btn-sm">전체보기</a>
                </div>

                <div style="margin-bottom: -13px;">
                {% for anonymous in anonymous_list %}
                <div class="notice_box">
                    <div class="shadow-none mb-5 bg-light rounded" onclick="location.href='/anonymous/{{ anonymous.id }}/'"
                        style="padding: 12px; margin-top: 0px; margin-bottom: 12px !important; cursor:pointer; height:52px;">
                        <!-- <span style="color: gray; font-size:16px;"><i class="fas fa-fire-alt"></i>&nbsp;&nbsp;{{ anonymous.title|truncatechars:30 }}</span> -->
                        <span style="color: gray; font-size:16px; font-weight:550;">&nbsp;&nbsp;{{ anonymous.title|truncatechars:24 }}</span>
                        <div style="float:right">
                            <span style="color: gray; font-size:16px"><i class="fas fa-thumbs-up" style="opacity: 80%;"></i>&nbsp;&nbsp;{{ anonymous.like_count }}&nbsp;&nbsp;<i class="fas fa-comments" style="opacity: 80%;"></i>&nbsp;&nbsp;{{ anonymous.comments }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/index/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/index/aos.js' %}"></script>
<script src="{% static 'js/index/jquery.sticky.js' %}"></script>
<script src="{% static 'js/index/customCarousel.js' %}"></script>
{% endblock %}