{% extends "users/main_base.html" %}

{% block mobileView %}
<meta name="viewport" content="width=550, user-scalable=yes">
{% endblock %}

{% block contents %}
<div class="container">
    <div style="margin-top: 5rem !important;">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="card" style="width: 500px;">
                    <div class="card-header" style="padding-bottom:8px;">
                        <strong style="font-size: 18px;"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;비밀번호 변경</strong>
                    </div>
                    <div class="card-body">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <!-- {{ password_change_form.as_p }} -->

                            <!-- {% for field in password_change_form %} -->
                            <!-- <div class="form group">
                                <div class="mb-4 md-form">
                                <label for="{{ field.id_for_label }}"><i class="fas fa-lock"></i>&nbsp;{{ field.label|cut:":" }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control"
                                    id="{{ field.id_for_label }}" name="{{ field.name }}">
                                </div>
                            </div> -->

                            <!-- <div class="form group">
                                <label for="{{ field.id_for_label }}"><i class="fas fa-lock"></i>&nbsp;{{ field.label|cut:":" }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control"
                                    id="{{ field.id_for_label }}" name="{{ field.name }}"
                                    placeholder="{{ field.label|cut:':' }}" />
                            </div><br> -->
                            <!-- {{ field.errors }} -->
                            <!-- {% endfor %} -->

                            <!-- <style>
                                .errorlist {
                                    color: red;
                                    font-weight: bold;
                                }
                            </style> -->

                            <!--기존 비밀번호-->
                            <div class="mb-4 md-form">
                                <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}"><i
                                        class="fas fa-lock"></i>&nbsp;&nbsp;{{ password_change_form.old_password.label }}</label>
                                {{ password_change_form.old_password }}
                                <script type="text/javascript">
                                    if (document.getElementsByName('old_password')[0].value != '') {
                                        document.getElementsByName('label_old_password')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                {% if password_change_form.old_password.errors %}
                                <script type="text/javascript">
                                    document.getElementsByName('old_password')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                {% for error in password_change_form.old_password.errors %}
                                <div class="invalid-feedback" style="margin-bottom:-10px;">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--새 비밀번호-->
                            <div class="mb-4 md-form">
                                <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}"><i
                                        class="fas fa-unlock"></i>&nbsp;&nbsp;{{ password_change_form.new_password1.label }}</label>
                                {{ password_change_form.new_password1 }}
                                <script type="text/javascript">
                                    if (document.getElementsByName('new_password1')[0].value != '') {
                                        document.getElementsByName('label_new_password1')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                {% if password_change_form.new_password1.errors %}
                                <script type="text/javascript">
                                    document.getElementsByName('new_password1')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                {% for error in password_change_form.new_password1.errors %}
                                <div class="invalid-feedback" style="margin-bottom:-10px;">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--새 비밀번호확인-->
                            <div class="mb-4 md-form">
                                <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}"><i
                                        class="fas fa-unlock-alt"></i>&nbsp;&nbsp;{{ password_change_form.new_password2.label }}</label>
                                {{ password_change_form.new_password2 }}
                                <script type="text/javascript">
                                    if (document.getElementsByName('new_password2')[0].value != '') {
                                        document.getElementsByName('label_new_password2')[0].setAttribute('class',
                                            'active');
                                    }
                                </script>
                                {% if password_change_form.new_password2.errors %}
                                <script type="text/javascript">
                                    document.getElementsByName('new_password2')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                {% for error in password_change_form.new_password2.errors %}
                                <div style="white-space: nowrap;" class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <small style="margin-left: 4px; margin-top:8px; margin-bottom: 30px;" class="form-text text-muted">
                                    최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
                                </small>

                            <div style="text-align: center; margin-bottom:-25px;">
                                <p style="color:gray; margin-bottom: 4px;"><i class="fas fa-exclamation-triangle"></i>&nbsp;{{ user.user_id }} 계정의 비밀번호를 변경합니다.</p>
                                <a onclick="location.href='/users/profile/'" class="btn btn-sm" id="back_btn"><i class="fa fa-reply"></i>&nbsp;돌아가기</a>
                                <button type="submit" class="btn btn-sm" id="detail_btn"><i class="fas fa-check"></i>&nbsp;변경하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}