{% autoescape off %}
<!DOCTYPE html>
<html>
<body>
    <div style="width:100%;min-width:100%;height:100%;">
        <div style="padding: 70px 0; background: #f7f8f9;">
            <div style="margin: 0 auto; width: 600px; color: #000;">
                <div style="padding: 30px 90px; text-align: center; border: 1px solid #dfdfdf; background: #fff;">
                    <h3 style="margin-bottom: 35px; font-size: 30px; font-weight: 600;">비밀번호 찾기 인증번호 발송</h3>
                    <div style="padding: 10px 0 20px; border-top: 1px solid rgb(172, 172, 172);">
                        <p style="font-size: 14px; font-weight: 600; line-height: 20px;">인제대학교 REBORN 홈페이지 비밀번호찾기 인증번호입니다.<br>아래 인증번호를 인증번호 입력란에 입력해주세요.</p>
                    </div>
                    <div style="padding: 20px 30px; background: #f7f8f9;"><p style="font-size: 18px; font-weight: bold;">{{ auth_num }}</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endautoescape %}
